@media (max-width:991px) {
    .navbar.bd-navbar {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .navbar-brand {

        border: 0px solid #000;
        flex-direction: column;
        text-align: center;
        margin: 0 auto !important;
        margin-bottom: 2rem
    }

    .bd-navbar .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
        font-size: .875rem;
    }

    .navbar.bd-navbar .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }
}


@media (max-width: 575px) {
    .hero h1 {
        font-size: 3rem
    }
    .hero .row {
        height: 70vh !important;
    }
    .about {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 3rem
    }
    .about .card {
        text-align: center;
        padding: 1rem 0
    }
    .services .card {
        margin-bottom: 3rem
    }
    .services .mt-5 {
        margin-top: 0 !important
    }
    .about,
    .services,
    .portfolio,
    .clients,
    .values,
    .contact,
    .footer {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .clients .element:nth-child(odd),
    .clients .element:nth-child(even) {
        border: 1px solid #eee !important;
    }

    .clients .element:nth-child(9),
    .clients .element:nth-child(10),
    .clients .element:nth-child(11),
    .clients .element:nth-child(12) {
        border: 1px solid #eee !important;
    }
    .clients .element {
        height: inherit !important;
        background: #fff;
        border-width: inherit !important;
        border-bottom: inherit !important;
        border: 1px solid #eee !important;

        margin: 1rem;
        padding: 2rem;
    }
    .clients .element img {
        position: inherit !important;
        width: inherit !important;
        top: inherit !important;
        bottom: inherit !important;
        right: inherit !important;
        left: inherit !important;
        margin: inherit !important
    }

    .contact .list-social {
        padding-bottom: 2rem
    }
    .contact .list-group {
        display: inherit;
        flex-direction: row;
        text-align: center;
    }
    .contact .list-group-item {
        display: inline-block !important;
        padding: 0 !important
    }
    .contact .list-group-item i {
        font-size: 2rem
    }
    .contact .p-2 {
        padding: 0;
    }
    .contact .media-body {
        display: none
    }
    .footer {
        text-align: center;
    }
    .footer .p-2 {
        padding: 0
    }
    .footer .p-2 i {
        display: none
    }

    .mt-5 {
        margin-top: 1rem !important
    }

    .og-grid li .image-cover img {
        width: 100% !important
    }
    .footer {
        padding-top: 4rem !important;
        padding-bottom: 0 !important
    }
    .footer .text-left,
    .footer .text-right {
        text-align: center !important
    }
    .footer h4 {
        font-size: 1.3rem
    }

    .footer i {
        font-size: 1.6rem !important
    }

    .og-details {
        padding-top: 0 !important;
        width: 100% !important;
        margin-top: 0 !important
    }
    .og-close {
        top: 2rem !important;
        left: 2rem !important;
    }

    .media {
        display: inherit !important
    }
    .media-body {
        padding: 2rem .3rem 0 !important;
    }
    .og-grid li.mix .list-inline {
        border-top: 1px solid rgba(0,0,0,.1);
        margin-top: 1rem
    }
    .og-grid li.mix li {
        margin: 1rem 0 0;
        display: block
    }
}